<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253960083452-6caarfivr8hmtu3uiuqqq4fnuu31ibhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253960083452-6caarfivr8hmtu3uiuqqq4fnuu31ibhn</string>
	<key>API_KEY</key>
	<string>AIzaSyD85puBNewz_SQulTFfuFF0Cc7Zan2GH-w</string>
	<key>GCM_SENDER_ID</key>
	<string>253960083452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emoscope</string>
	<key>PROJECT_ID</key>
	<string>emoscope-bf5d3</string>
	<key>STORAGE_BUCKET</key>
	<string>emoscope-bf5d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253960083452:ios:2f2dc6f885d36b07030479</string>
</dict>
</plist>